.grid {
    background-image: url("../../../assets/pexels-fauxels-3183197.jpg") !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vmin;
}

@media screen and (min-width: 1400px) {
    .grid {
        background-position: top;
    };
}
/* 
Adiciona responsividade em telas menores
*/

@media screen and (max-width: 1000px) {
    .grid {
        height: 100vmax;
    }
}
/* 
Adiciona responsividade em telas maior
*/